body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .shopping-list-container {
    max-width: 600px; 
    width: 100%; /* Faz com que o contêiner ocupe 100% da largura permitida */
    background: white; /* Cor de fundo branca */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    padding: 20px; /* Espaçamento interno */
  }
  
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
  }
  
  .list-section {
    margin-top: 20px;
  }
  
  .section-title {
    color: #333;
    margin-bottom: 10px;
  }
  
  .item-list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .not-purchased {
    border-left: 4px solid #007bff; /* Cor para itens não comprados */
  }
  
  .purchased {
    border-left: 4px solid #6c757d; /* Cor para itens comprados */
  }
  
  .button-group {
    display: flex;
    gap: 5px;
  }
  
  .toggle-button, .edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toggle-button:hover {
    color: #28a745; /* Verde para a confirmação */
  }
  
  .edit-button:hover {
    color: #ffc107; /* Amarelo para edição */
  }
  
  .delete-button:hover {
    color: #dc3545; /* Vermelho para remoção */
  }
  .button-group button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Aumente o tamanho do ícone */
    transition: color 0.2s;
  }
  
  .toggle-button:hover {
    color: #28a745; /* Verde para a confirmação */
  }
  
  .edit-button:hover {
    color: #ffc107; /* Amarelo para edição */
  }
  
  .delete-button:hover {
    color: #dc3545; /* Vermelho para remoção */
  }
  